{% extends "layoutEmail.html.twig" %}

{% block title %}Episode{% endblock title %}

{% block body %}
    <h1>New episode {{ episode.title }} created</h1>
    <p>Program : {{ episode.season.program.title }} </p>/
    <p>Hello, the episode {{ episode.number }} titled {{ episode.title }} has been created on Wild Series</p>
    <p>Summary : {{episode.synopsis }}</p>
{% endblock body %}