{% extends "base.html.twig" %}

{% block title %}
{{ program.title }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="card" style="width: 45rem">
        <img class="card-img-top" src="{{program.poster}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{ program.title }}</h5>
        <p class="card-text">{{ program.synopsis }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for season in seasons %}
            <li class="list-group-item">
                <h6>Season {{ season.number }}:</h6>
                <p>{{ season.description }}</p>
            </li>
            {% endfor %}
        </ul>
        <strong>Acteurs :</strong>
        <ul>
            {% for actor in program.actors %}
                <li>{{ actor.name }}</li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
    </div>
</div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
