{% extends "base.html.twig" %}

{% block body %}

<h1>Season {{ season.number }} of {{ program.title }}</h1><br>

<h2>{{ season.description }}</h2>
<ul>
{% for episode in season.episode %}
    <h2>Episod #{{ episode.number }}: {{ episode.title }}</h2>
{% endfor %}
</ul>
{% endblock %}